.contact-info{
	padding:65px 0 100px;
	@media only screen and (max-width: 768px){
		padding:20px 0 40px;
	}
	& h3{
		margin:0 0 40px;
		@media only screen and (max-width: 768px){
			margin:0 0 10px;
		}
	}
	& p{
		margin:0 0 35px;
		@media only screen and (max-width: 768px){
			margin:0 0 10px;
		}
	}
	&-fields{
		background: #fff;
	}
}
input[type=text],
input[type=email],
textarea{
	display: inline-block;
	border:none;
	border-radius:4px;
	background: #eaeef1;
	padding: 5px 5px;
	height:44px;
	font-size: 16px;
	line-height:44px;
	font-family:$text-base-font-family;
	color:$text-base-color;
	outline:0;
	width:240px;
}
textarea{
	resize:none;
	width:100%;
	height:160px;
	line-height:20px;
	margin:0 0 30px;
}

.contact-info-fields{
	padding:30px;
	margin:-210px 0 0;
	@media only screen and (max-width: 768px){
		margin:0;
	}
	& label{
		display: block;
		margin:0 0 10px;
		text-transform:uppercase;
	}
}
.input-field{
	display:inline-block;
	margin:0 0 30px;
	& input[type=text]{
		margin:0 20px 0 0;
	}
}
#map{
	height:350px;
	margin:0 0 60px;
	@media only screen and (max-width: 767px){
		height: 200px;
	}
}