.header{
	padding:20px 0;
	background: #1d2126;
	z-index:1000;
	height: 80px;
	
	@media only screen and (max-width: 767px){
		padding:18px 0;
		height: 60px;
	}
	&.sticking{
		padding:10px 0;
		height: 80px;
		left:0;
		right:0;
		@media only screen and (max-width: 767px){
			height: 60px;
			padding:18px 0;
		}
	}
}
.main_navigation{
	text-align:right;
	@media only screen and (max-width: 992px){
		text-align:left;
	}
}
.logo-block{
	margin:13px 0 0;
	width: 100px;
	@media only screen and (max-width: 1023px){
		margin:0;
	}
	@media only screen and (max-width: 768px){
		margin:0;
	}
}
#nav{
	& ul{
		list-style: none;
		font-size: 14px;
		line-height: 17px;
		font-family: 'open_sanssemibold';
		& li{
			display: inline-block;
			margin:0 15px;
			text-transform: uppercase;
			@media only screen and (max-width: 1023px){
				display: block;
				text-align: center;
			}
			& a{
				display: inline-block;
				padding:7px 10px;
				border:2px solid transparent;
				border-radius:4px;
				color:#a4aead;
				&:active,
				&.active-link{
					color:$brand-color;
					border:2px solid $brand-color;
					border-radius:4px;
				}
				&:hover{
					border:2px solid #5b6168;
					color:#a4aead;
				}
			}
		}
	}
}
#nav ul li a.active-link:hover{
	color:$brand-color;
	border:2px solid $brand-color;
	border-radius:4px;
}