.info_section{
	padding:80px 0 100px;
	border-bottom:1px solid #dde1e4;
	@media only screen and (max-width: 768px){
		padding:20px 0 40px;
	}
}
.common_description{
	margin:0 0 53px;
	@media only screen and (max-width: 992px){
		margin:0 0 20px;
	}
	& p{
		margin:0 0 35px;
		@media only screen and (max-width: 992px){
			margin:0 0 15px;
		}
	}
}
.socialnetworks{
	list-style:none;
	@media only screen and (max-width: 992px){
		margin:0 0 20px;
	}
	& li{
		display: inline-block;
		margin:0 -2px 0 0;
		& a{
			display: -webkit-box;
			display: -moz-box;
			display: flex;
			-webkit-box-pack: justify;
			justify-content: center;
			align-items: center;
			width: 60px;
			height: 60px;
			background: #c8cdd0;
			font-size: 23px;
			@media only screen and (max-width: 768px){
				width: 35px;
				height: 35px;
				font-size: 14px;
			}
			&:hover{
				background: #d0d5d9;
			}
		}
	}
}
.description-item{
	margin:0 0 40px;
	@media only screen and (max-width: 768px){
		margin:0 0 20px;
	}
  & h3{
  	margin:0 0 20px;
  	@media only screen and (max-width: 768px){
  		margin:0 0 10px;
  	}
  }
  & .image-box{
  	width: 50px;
  	height: 50px;
  	background: $brand-color;
  	color:#fff;
  	display: -webkit-box;
	display: -moz-box;
	display: flex;
	justify-content: center;
	align-items: center;
	margin:5px 0 0;
	@media only screen and (max-width: 768px){
		width: 100%;
		height: 30px;
		margin:0 0 10px;
	}
  }
}