@mixin buttons-inverse{
	@include buttons;
	background: transparent;
	border:2px solid $btn-border-color;
	padding:13px 18px;
	&:hover{
		background: transparent;
	}
	
}
@mixin buttons{
	display: inline-block;
	padding:15px 20px;
	text-transform:uppercase;
	color:$btn-color;
	font-size:$btn-font-size;
	line-height:$btn-line-height;
	font-family:$btn-font-family;
	background: $btn-bg;
	border-radius:4px;
	cursor: pointer;
	&:hover{
		background: $btn-hover-bg;
		transition: background 0.5s linear;
	}
	@media only screen and (max-width: 768px){
		padding:10px 15px;
	}
}